<div class="container">
  <h1>Benutzer</h1>

  <div class="item-content">
      <table class="table ">
          <thead>
          <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Email Adresse</th>
          </tr>
          </thead>
          <tbody>
          <% users.forEach(function(user){ %>
              <tr>
                  <td>
                      <%= user.firstName %>
                  </td>
                  <td>
                      <%= user.lastName %>
                  </td>
                  <td>
                      <%= user.emailAddress %>
                  </td>
                  <td class="product-actions d-none d-md-table-cell">
                      <a class="green-button" href="/usermanagement/<%= user.id %>/destroy">Löschen</a>
                  </td>
              </tr>
              <tr class="d-md-none">
                <td colspan="3">
                    <div class="row">
                        <div class="col-4">
                            <a class="green-button" href="/usermanagement/<%= user.id %>/destroy">Löschen</a>
                        </div>
                    </div>
                </td>
            </tr>
          <% }); %>
          </tbody>
      </table>

  </div>
</div>