<div class="container">


    <div class="item-content">
        <div class="form-group">
            <label for="filterDropdown">Filter:</label>
            <select class="form-control" id="filterDropdown" onchange="applyFilter()">
              <option value="all">Alle Produkte</option>
              <% categories.forEach(function(category) { %>
                <option value="<%= category.Name %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div> 

        <table class="table">
            <thead>
            <th>Name</th>
            <th>Preis</th>
            </thead>
            <tbody>
            <% products.forEach(function(product){ %>
                <tr>
                    <td>
                        <%= product.name %>
                    </td>
                    <td>
                        <%= product.price %>
                    </td>
                    <td>
                        <%= product.category.name %>
                    </td>
                    <td> <a class="green-button" href="/product/<%= product.id %>">anzeigen</a></td>
                    <td> <a class="green-button" href="/product/<%= product.id %>/edit">ändern</a></td>
                    <td> <a class="green-button" href="/product/<%= product.id %>/destroy">löschen</a></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <a class="green-button" href="/addProduct">Hinzufügen</a>
    </div>
</div>
</div>
