<div class="container">
    <div class="card mt-4">
        <h4 class="card-header">
            Produkt Details
        </h4>
        <div>
            <!-- Each section is a row, and content is divided into columns -->
            <!-- Name -->
            <div class="row">
                <div class="col-md-4 col-12 attribute-label"> <!-- Labels are full width on small screens -->
                    Name
                </div>
                <div class="col-md-8 col-12 attribute-value"> <!-- Values are also full width on small screens -->
                    <%= product.name %>
                </div>
            </div>

            <!-- Price -->
            <div class="row">
                <div class="col-md-4 col-12 attribute-label">
                    Preis
                </div>
                <div class="col-md-8 col-12 attribute-value">
                    <%= product.price %> <%= product.priceType === 'weight' ? '€ pro Gewicht' : '€ pro Stück' %>
                </div>
            </div>

            <!-- Description -->
            <div class="row">
                <div class="col-md-4 col-12 attribute-label">
                    Beschreibung
                </div>
                <div class="col-md-8 col-12 attribute-value">
                    <%= product.description %>
                </div>
            </div>

            <!-- Category -->
            <% if(product.category) { %>
                <div class="row">
                    <div class="col-md-4 col-12 attribute-label">
                        Kategorie
                    </div>
                    <div class="col-md-8 col-12 attribute-value">
                        <%= product.category.name %>
                    </div>
                </div>
            <% } %>

            <!-- Availability -->
            <div class="row">
                <div class="col-md-4 col-12 attribute-label">
                    Verfügbarkeit
                </div>
                <div class="col-md-8 col-12 attribute-value">
                    <%= product.availability ? 'Verfügbar' : 'Nicht verfügbar' %>
                </div>
            </div>

            <!-- Image -->
            <% if(product.image) { %>
                <div class="row">
                    <div class="col-md-4 col-12 attribute-label">
                        Bild
                    </div>
                    <div class="col-md-8 col-12 attribute-value">
                        <img src="https://wetebucket.s3.us-west-2.amazonaws.com/<%= product.image %>">
                    </div>
                </div>
            <% } %>

            <div class="reviews-section">
                <h4>Product Reviews</h4>
                <% reviews.forEach(function(review) { %>
                    <div class="review">
                        <p><%= review.value %></p>
                        <p>Reviewed by: <%= review.user.firstName %></p>
                        <%if (review.user.id === req.me?.id) { %>
                            <form action="/review/delete/<%= review.id %>" method="POST">
                                <button type="submit">Delete Review</button>
                            </form>
                        <% } %>
                    </div>
                <% }); %>

                <!-- Review Form -->
                <% if(req.me) {%>
                <form action="/review/create" method="POST">
                    <textarea name="value" placeholder="Write your review here"></textarea>
                    <input type="hidden" name="productId" value="<%= product.id %>">
                    <button type="submit">Submit Review</button>
                </form>
                <% } %>
            </div>

            <form action="/shoppingbasket/add/<%= product.id %>" method="POST">
                <button type="submit" class="btn btn-primary">Add to Shopping Basket</button>
            </form>

        </div>
    </div>
</div>
